{:deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}
        cider/cider-nrepl {:mvn/version "0.21.1"}
        http-kit {:mvn/version "2.3.0"}
        metosin/jsonista {:mvn/version "0.2.2"}
        com.draines/postal {:mvn/version "2.0.3"}}}
